$blue-main: #477fe7;
$blue-darker: #2d4dc8;
$blue-darkest: #1565d8;
$blue-lighter: #6598e6;
$blue-lightest: #869ffd;
$blue-hair: #bbddf4;

$grey: #b7b7b7;
$grey-lighter: #eaeef6;
$grey-lightest: #f8f8f8;

$green: #5bd06d;
$green-lighter: #56a32c;
$green-darker: #237346;
$green-lightest: #e2f4c8;
$color-aqua: #3267a7;

$yelow-main: #f5a929;
$yellow-lighter: #fff2e8;

$white: #ffffff;

$text-main: #545454;
$text-lighter: #d4d4d4;
$text-lightest: #d3d3d3;

$red-main: #e85a2f;
$red-darker: #ff2021;

$border-color: #dcdff1;

$bg-color: #f8f8f8;

$boxShadow: 0px 0px 4px rgba(82, 63, 105, 0.05);
$table-hover: rgba(0, 123, 252, 0.1);
