.circle-wrapper {
  position: relative;
  display: block;
  height: 150px;
  width: 150px;
  background: #ccc;
  border-radius: 50%;
}
.circle-wrapper__circle {
  width: 100%;
  height: 100%;
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
}
.circle-wrapper__circle:after,
.circle-wrapper__circle:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 50%;
}
.circle-wrapper__circle:before {
  border-radius: 200px 200px 0 0;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(69, 255, 209, 1) 20%),
    to(#61c8fc)
  );
  background-image: linear-gradient(
    to right,
    rgba(69, 255, 209, 1) 20%,
    #61c8fc
  );
}
.circle-wrapper__circle:after {
  top: 50%;
  border-radius: 0 0 200px 200px;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(rgba(69, 255, 209, 1)),
    to(transparent)
  );
  background-image: linear-gradient(
    to right,
    rgba(69, 255, 209, 1),
    transparent 20%
  );
}
.circle-wrapper__content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  height: 90%;
  width: 90%;
  background: #fff;
  border-radius: 50%;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/**
 * Additional styles.
 */
.description {
  margin-bottom: 15px;
}

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.time__value,
.time__unit {
  display: block;
  text-align: center;
  line-height: 1;
  font-weight: 400;
}
