  <div class="container wrapper-menu">
    <div class="image-content">
      <img src="../../../../../../assets/images/lucky/logo.png" alt="" width="100">
    </div>

    <div class="right-menu">
      <div class="search">
        <i class="fas fa-search"></i>
        <input type="text" placeholder="Search" class="search-input">
      </div>
      <ul class="icon-menu">
        <li><img src="../../../../../../assets/images/lucky/icon-youtube.svg" alt=""> </li>
        <li><img src="../../../../../../assets/images/lucky/icon-fb.svg" alt=""> </li>
        <li><img src="../../../../../../assets/images/lucky/icon-en.svg" alt=""> </li>
        <li><img src="../../../../../../assets/images/lucky/icon-vn.svg" alt=""> </li>
      </ul>
    </div>
  </div>